{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["react-app"],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "plugins": ["react"],
  "rules": {
    "react/self-closing-comp": [
      "warn",
      {
        "component": true,
        "html": true
      }
    ]
  }
}
