@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('./assets/images/bg.png');
}

/* clears the 'X' from Internet Explorer */
input.search[type='search']::-ms-clear {
  position: relative;
  right: 38px;
}
input.search[type='search']::-ms-reveal {
  position: relative;
  right: 38px;
}

/* clears the 'X' from Chrome */
input.search[type='search']::-webkit-search-decoration,
input.search[type='search']::-webkit-search-cancel-button,
input.search[type='search']::-webkit-search-results-button,
input.search[type='search']::-webkit-search-results-decoration {
  position: relative;
  right: 38px;
}

.stretchedLink::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
}

@keyframes switchingLeftRight {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -128px 0;
  }
}

.switchingLeftRight {
  width: 64px;
  height: 64px;
  background-size: 128px 64px;
  animation: switchingLeftRight 2s steps(2) infinite;
}
